.sx2 {
    background-color:black;
    color: white;
}
.down {
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
}
.lnk {
    color: white;
}
.hero {
    background-image: url(bg.jpg);
}
.brandx {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}